# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
timezone: Asia/Tokyo
title: I'd rather be a deerhunter than a fascist and a racist.
email: tnozaki@outlook.com
description: >-
  I don't know how to use dumdum bullets, and I don't think young Han people use them.
domain: tnozaki.guthub.io
baseurl: ""
url: https://tnozaki.github.io
github_username:  tnozaki

# Build settings
markdown: kramdown
markdown_ext: "md"
kramdown:
  input: GFM
  auto_ids: false
  highlighter: rouge
theme: minima
plugins:
 - jekyll-feed
feed:
  excerpt_only: true
locale: ja_JP

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
